<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Plagiarism Checker </title>
   <%-include("partials/css.ejs")%>
</head>
<body>
  <div id="homeDiv">
    <img id="homeImg" src="/images/logo.png">
    <h1>Plagiarism Detector</h1>
  </div>

  <%-include("partials/nav.ejs")%>
  <br>
  <fieldset id="homeField">
    <p id= "homeInfo">
      We created because we wanted to help the educational community reduce the amount of plagiarism that is occuring. 
      Many students now a days have so many resources they can use to complete their homework with little to no effort.
      Resouces such as Chegg solve the student's questions within a few hours or days. 
      Professors at universities have become tiresome of the frequent use of Chegg, since it makes it difficult for 
      instructors to measure the amount of learning that is occuring. Therefore we have created this Plagarism Detector 
      that web scrapes google for chegg links to the possible solutions to the instructor's questions and delivers the 
      instructor/user a list of links that could contain their copyrighted material.
    </p>
  </fieldset>
</body>
</html>