<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Plagiarism Checker </title>
   <%-include("partials/css.ejs")%>
</head>
<body>
  <div id="homeDiv">
    <img id="homeImg" src="/images/logo.png">
    <h1>Web Scraper Results</h1>
  </div>

  <%-include("partials/nav.ejs")%>
  <br>
  <fieldset id="resultsField">
    <p id= "resultsBody">
      
  </fieldset>
</body>
</html> -->