<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Web Scraper </title>
  <%-include("partials/css.ejs")%>
</head>
<body>
  
  <h1>Web Scraper</h1>

  <%-include("partials/nav.ejs")%>

  <br>
   <fieldset id="scraperField">
    <div id="input">
          <h4><b>Would you like to search a single question or upload a file?</b></h4>
          
          <input class="search_options" type="radio" name="search" id="question" value="question">
              <label for="question"> Single Question
          <input class="search_options" type="radio" name="search" id="file" value="file">
              <label for="file"> Upload file

  </div>

  <div id="errorMsg">
    <p></p>
  </div>
  
  <div id="submitButton">
        <button id="submit" type="button">submit</button>
  </div>
</fieldset> 
  <script src="/javascripts/script.js"></script>   
</body>
</html>