<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Web Scraper </title>
  <%-include("partials/css.ejs")%>
</head>
<body>
  
  <h1>Web Scraper</h1>

  <%-include("partials/nav.ejs")%>

  <br>
   <fieldset id="scraperField">
    <div id="input">
          <h4><b>Submit a single question or upload a file</b></h4>
          
          Enter your assignment query: <input type="text" id="searchQ" name="assignmentQuestion">
          <button id="submitQ" type="submit">Search</button>
          <br>
          <br>
          <label for="searchF">Upload file:</label>
              <input type="file" id="searchF" name="searchF">`
              <button id="submitF" type="submit">Search</button>
  </div>
  
  <br>
  <br>

  <div id="results">

  </div>
        
</fieldset> 
  <script src="/javascripts/script.js"></script>   
</body>
</html>